<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>this page is not finished yet!</title>

    <link rel="stylesheet" href="./styles/style.css">

    <meta property="og:title" content="header">
    <meta property="og:description" content="Оdes">
    <meta property="og:image" content="https://example.com/image.jpg">
    <meta property="og:url" content="https://example.com/">
  </head>
  <body>
    <header>
      <h1>ここから出て行け ファックユー!</h1>
      <p>the sitE was cReated on the basis of terms of reference from {example.day}.{example.mounth}.{example.date}</p>
      <nav>
        <ul>
          <li><>Willson - bakka developer</a></li>
          <li><a href="catalog.html">error error error {spooky_embient.mp3}</a></li>
          <li>if spooky_embient.mp3 == status 404 :
             run_music(spUk.wav);
          </li>
        </ul>
      </nav>
    </header>
    <main>
      <article>
        <section>
          <h2>firsT section</h2>
          <p>bla bla bla /section one / ...</p>
          <p>НThe development of the site and its fUture update have been postponed due to technical problems</p>
        </section>
        <section>
          <h2>Loại ngu ngốc nào đã viết trang web này?
          </h2>
          <p>{main_city.coordinate}, we are here now!</p>
          <p>what's wrong with you? go to your Family guys Jorge {user_comments_date.day}day,{user_comments_date.month}month,{user_comments_date.year}yEar</p>
        </section>
        <section>
          <h2>3</h2>
          <p>are you still Here>?" {sounds.still_here_sound.mp3}</p>
        </section>
      </article>
    </main>
    <footer>
      <p>open_gaTe</p>
      <p>you neEd create and open last door, i cant Take it AnymorE!</p>
      <p>you have a trRouble , guys?</p>
      <p>1241241241213112332324!</p>
      <p>adfff123fff244667ffafaf3321</p>
      <p>SSB0aGluayBmb3Igc29tZW9uZSBsaWtlIHlvdSBpdCB3aWxsIGJlIGVhc3ksIHJpZ2h0Pw0KDQo=</p>
    </footer>
    <img src="assets/report.png", style="color: rgba(0,0,0,0) " , width="0px">
  </body>
</html>