<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About us</title>
    <link rel="stylesheet" href="./styles/style.css">

    <meta property="og:title" content="header in space">
    <meta property="og:description" content="description in space">
    <meta property="og:image" content="https://example.com/image.jpg">
    <meta property="og:url" content="https://example.com/">
  </head>
  <body>
    <header>
      <h1>Abyss medical company</h1>
      <p>medicine is with us, the future is with us !</p>
      <nav>
        <ul>
          <li><a href="under_void.html">Home</a></li>
          <li><a href="https://www.google.com/search?client=ubuntu-sn&channel=fs&q=%E8%A6%81%E6%B1%82%E3%82%A8%E3%83%A9%E3%83%BC">About company</a></li>
          
        </ul>
      </nav>
    </header>
    <main>
      <article>
        <section>
          <h1>Our services </h1>  
          <h2>creating vaccines</h2>
          <p>we can create a vaccine against the viruUs for a fee</p>
        </section>
        <section>
          <h2>CreaTing a virUs</h2>
          <p>we can Creating some types of biological wEapons (to order)</p>
        </section>
        <section>
            <p style="color: rgba(0,0,0,0) ">ERROR! ERR1R! TexT h1s7 b77n ...</p>
        </section>
      </article>
       <a href="nagai_/", style="color: rgba(0,0,0,0) ">futures</a>
    </main>
  </body>
</html>